asgiref==3.6.0
Django==4.2
django-filter==23.1
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
gunicorn==20.1.0
Pillow==9.5.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
reportlab==3.6.12
django-colorfield==0.7.2
webcolors==1.12
django-cors-headers==3.13.0
drf-base64==2.0